<header class="header">
  <div class="container header-container">
    <nav class="site-nav">
      <a href="./index.html" class="logo"
        ><span class="logo-web">Web</span>Studio</a
      >
      <ul class="nav-list">
        <li class="item">
          <a href="./index.html" class="navigation-link current">Studio</a>
        </li>
        <li class="item">
          <a href="./portfolio.html" class="navigation-link">Portfolio</a>
        </li>
        <li class="item">
          <a href="" class="navigation-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <address class="address-wrap">
      <ul class="addres-list">
        <li class="item">
          <a href="mailto:info@devstudio.com" class="address"
            >info@devstudio.com</a
          >
        </li>
        <li class="item">
          <a href="tel:+110001111111" class="address">+11 (000) 111-11-11</a>
        </li>
      </ul>
    </address>

    <button
      class="menu-toggle-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="22">
        <use href="./images/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>

    <!-- Mobile-menu -->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg width="8" height="8">
          <use href="./images/icons.svg#icon-close-btn"></use>
        </svg>
      </button>

      <ul class="menu-list">
        <li class="menu-item">
          <a href="./index.html" class="menu-link--nav">Studio</a>
        </li>
        <li class="menu-item">
          <a href="./portfolio.html" class="menu-link-nav">Portfolio</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link-nav active">Contacts</a>
        </li>
      </ul>

      <div>
        <address class="menu-address-wrap">
          <ul class="">
            <li class="menu-item">
              <a href="tel:+110001111111" class="menu-address active"
                >+11 (000) 111-11-11</a
              >
            </li>
            <li class="menu-item">
              <a href="mailto:info@devstudio.com" class="menu-address mail"
                >info@devstudio.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="menu-social">
          <li class="menu-social-item">
            <a class="menu-link" href="#">
              <svg class="menu-soc-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a class="menu-link" href="#">
              <svg class="menu-soc-icon">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a class="menu-link" href="#">
              <svg class="menu-soc-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a class="menu-link" href="#">
              <svg class="menu-soc-icon">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
