.doing {
    display: none;
  }
  
  @media (min-width: 1200px) {
    .doing {
      display: block;
      padding-bottom: 120px;
    }
  }
  
  .doing-title {
    text-align: center;
    margin-bottom: 72px;
  
    color: var(--dark-clr);
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  
    text-transform: capitalize;
  }
  
  .doing-list {
    display: flex;
    gap: 24px;
  }
  
  .doing-img {
    display: block;
    max-width: 100%;
    height: auto;
  }