<section class="doing">
  <div class="container">
    <h2 class="doing-title">What are we doing</h2>
    <ul class="doing-list">
      <li>
        <img
          class="doing-img"
          srcset="./images/monitor.jpg 1x, ./images/monitor@2.jpg 2x"
          src="./images/monitor.jpg"
          alt="Web sites"
          width="360"
        />
      </li>
      <li>
        <img
          class="doing-img"
          srcset="./images/apps.jpg 1x, ./images/apps@2.jpg 2x"
          src="./images/apps.jpg"
          alt="Mobile application"
          width="360"
        />
      </li>
      <li>
        <img
          class="doing-img"
          srcset="./images/user-exp.jpg 1x, ./images/user-exp@2.jpg 2x"
          src="./images/user-exp.jpg"
          alt="Perfect experiences"
          width="360"
        />
      </li>
    </ul>
  </div>
</section>
