<section class="team">
  <div class="container">
    <h2 class="team-title">Our team</h2>
    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-img"
          srcset="./images/mark.jpg 1x, ./images/mark@2.jpg 2x"
          src="./images/mark.jpg"
          alt="Mark Guerrero foto"
          width="264"
        />
        <div class="member">
          <h3 class="member-title">Mark Guerrero</h3>
          <p class="profession">Product Designer</p>
          <ul class="team-social">
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          srcset="./images/tom.jpg 1x, ./images/tom@2.jpg 2x"
          src="./images/tom.jpg"
          alt="Tom Ford foto"
          width="264"
        />
        <div class="member">
          <h3 class="member-title">Tom Ford</h3>
          <p class="profession">Frontend Developer</p>
          <ul class="team-social">
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          srcset="./images/camila.jpg 1x, ./images/camila@2.jpg 2x"
          src="./images/camila.jpg"
          alt="Camila Garcia foto"
          width="264"
        />
        <div class="member">
          <h3 class="member-title">Camila Garcia</h3>
          <p class="profession">Marketing</p>
          <ul class="team-social">
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          srcset="./images/daniel.jpg 1x, ./images/daniel@2.jpg 2x"
          src="./images/daniel.jpg"
          alt="Daniel Wilson foto"
          width="264"
        />
        <div class="member">
          <h3 class="member-title">Daniel Wilson</h3>
          <p class="profession">UI Designer</p>
          <ul class="team-social">
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
