<section class="customers">
  <div class="container">
    <h2 class="customers-title">Customers</h2>
    <ul class="customers-list">
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-0"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-1"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-2"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-3"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-4"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="#">
          <svg class="customers-logo">
            <use href="./images/icons.svg#icon-client-5"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
