<section class="portfolio">
  <div class="container portfolio-container">
    <h1 class="visually-hidden">Portfolio</h1>

    <!-- Filter -->
    <ul class="filter-list">
      <li><button type="button" class="filter-btn">All</button></li>
      <li><button type="button" class="filter-btn">Web Site</button></li>
      <li><button type="button" class="filter-btn">App</button></li>
      <li><button type="button" class="filter-btn">Design</button></li>
      <li><button type="button" class="filter-btn">Marketing</button></li>
    </ul>

    <!-- Works -->
    <ul class="work-list">
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/banking-app.jpg   1x,
                ./images/banking-app@2.jpg 2x
              "
              src="./images/banking-app.jpg"
              alt="Mobile interface"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Banking App Interface Concept</h2>
            <p>App</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/cashless-paynment.jpg   1x,
                ./images/cashless-paynment@2.jpg 2x
              "
              src="./images/cashless-paynment.jpg"
              alt="Smartphone payment"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Cashless Payment</h2>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/medition-app.jpg   1x,
                ./images/medition-app@2.jpg 2x
              "
              src="./images/medition-app.jpg"
              alt="Notebook with images"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Meditaion App</h2>
            <p>App</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="./images/taxi.jpg 1x, ./images/taxi@2.jpg 2x"
              src="./images/taxi.jpg"
              alt="Taxi driver"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Taxi Service</h2>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/scr-illustrating.jpg   1x,
                ./images/scr-illustrating@2.jpg 2x
              "
              src="./images/scr-illustrating.jpg"
              alt="Screen illustrations"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Screen Illustrations</h2>
            <p>Design</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="./images/courses.jpg 1x, ./images/courses@2.jpg 2x"
              src="./images/courses.jpg"
              alt="Woman learn online"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Online Courses</h2>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="./images/stories.jpg 1x, ./images/stories@2.jpg 2x"
              src="./images/stories.jpg"
              alt="Instagram stories"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Instagram Stories Concept</h2>
            <p>Design</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/organic-food.jpg   1x,
                ./images/organic-food@2.jpg 2x
              "
              src="./images/organic-food.jpg"
              alt="Woman with bag"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Organic Food</h2>
            <p>Web Site</p>
          </div>
        </a>
      </li>
      <li class="work-item">
        <a class="work-link" href="">
          <div class="work-overlay-wrap">
            <img
              class="work-img"
              srcset="
                ./images/fresh-coffee.jpg   1x,
                ./images/fresh-coffee@2.jpg 2x
              "
              src="./images/fresh-coffee.jpg"
              alt="A cup of coffee"
            />
            <div class="work-overlay">
              <p class="work-description">
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
          </div>
          <div class="work-wrap">
            <h2 class="work-subtitle">Fresh Coffee</h2>
            <p>Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
