.footer {
    padding-top: 96px;
    padding-bottom: 96px;
  
    background-color: var(--dark-clr);
  }
  
  @media (min-width: 1200px) {
    .footer {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .footer-container {
      padding-left: 108px;
      padding-right: 108px;
    }
  }
  
  @media (min-width: 1200px) {
    .footer-container {
      padding-left: 0;
      padding-right: 0;
      flex-direction: row;
    }
  }
  
  .footer-logo {
    display: block;
    margin-right: 0;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;
  
    color: var(--accent-clr);
  }
  
  .footer-about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 72px;
  }
  
  @media (min-width: 768px) {
    .footer-about {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1200px) {
    .footer-about {
      gap: 120px;
      margin-bottom: 0;
    }
  }
  
  .footer-logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  
  @media (min-width: 768px) {
    .footer-logo-wrap {
      align-items: start;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .footer-logo-wrap {
      align-items: normal;
      margin-bottom: 0;
    }
  }
  
  .accent-text {
    display: block;
    max-width: 264px;
    color: var(--accent-clr);
  }
  
  .soc-media {
    display: flex;
    flex-direction: column;
  }
  
  .soc-media-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
  
    color: var(--background-primary);
  }
  
  @media (min-width: 1200px) {
    .soc-media {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .soc-media-title {
      text-align: left;
    }
  }
  
  .soc-link {
    background-color: rgba(255, 255, 255, 0.1);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .soc-link:hover,
  .soc-link:focus {
    background-color: var(--success-clr);
  }
  
  .soc-icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }
  
  .subscribe {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  @media (min-width: 768px) {
    .subscribe {
      align-items: start;
      gap: 16px;
    }
  }
  
  @media (min-width: 1200px) {
    .subscribe {
      margin-left: auto;
    }
  }
  
  .subscribe-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  
  @media (min-width: 768px) {
    .subscribe-form {
      flex-direction: row;
      gap: 24px;
    }
  }
  
  .subscribe-title {
    font-weight: 500;
  
    color: var(--background-primary);
  }
  
  .subscribe-email {
    padding: 8px 16px;
    width: 100%;
  
    font-size: 12px;
    line-height: 2;
    color: var(--light-clr);
    background-color: transparent;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
  
  @media (min-width: 768px) {
    .subscribe-email {
      width: 264px;
    }
  }
  
  .submit-btn {
    display: flex;
    align-content: center;
    padding: 8px 24px;
    width: 165px;
    margin: 0 auto;
  
    color: var(--background-primary);
    background-color: var(--primary-brand-clr);
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @media (min-width: 768px) {
    .submit-btn {
      margin: 0;
    }
  }
  
  .submit-btn:hover,
  .submit-btn:focus {
    background-color: var(--pressed-state-clr);
  }
  
  .subscribe-btn-img {
    width: 24px;
    height: 20px;
    margin-left: 16px;
    fill: var(--background-primary);
  }